.centered {
  text-align: center;
}

.bar-header-secondary {
  background: #ddd;
}

.bar-tall {
  height: 10em;
  background-color: #aaa;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.bar-tall ~ .content {
  padding-top: 10em;
}

.bar-tall > .icon {
  color: #fff;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.25);
}

.bar-tall .btn .icon {
  top: 1px;
  font-size: 1em;
}

.bar-tall .caption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  margin-left: -10px;
}

.bar-tall h1 {
  position: relative;
  text-align: left;
  color: #fff;
  font-size: 1.3em;
  font-weight: normal;
}
.bar-tall p {
  margin-bottom: 0;
  color: #fff;
}

.content > .table-view:first-child {
  margin-top: -2px;
}

.table-view.no-nav .table-view-cell {
  padding-right: 15px !important;
}

.hidden {
  opacity: 0;
}

.media-object.big {
  width: 80px;
  height: 80px;
  border-radius: 8px;
}

.media-object.small {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.media-body p > .icon {
  line-height: 1.1em;
  margin-left: 5px;
}

.media-object.icon {
  color: #ccc;
}

.table-view-cell > .badge {
  top: 20%;
}

.table-view-cell h1 {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

.table-view-cell p.normal {
  margin-bottom: 5px;
}

input[type=search] {
  border-radius: 8px;
}

.countdown {
  font-weight: normal;
  font-size: 4em;
}

#notification {
  z-index: 100;
  position: absolute;
  top: 44px;
  width: 100%;
  background-color: #333;
  padding: 15px 0;
}

#notification p {
  color: #fff;
  font-size: 1em;
  line-height: 1.3em;
}

#notification .btn-link {
  padding: 5px;
  margin-left: 10px;
}

.modal .content > img {
  width: 100%;
}

.text-positive {
  color: #4CD964;
}

.badge.small {
  width: px;
  height: 16px;
}
