.centered {
  text-align: center;
}

.bar-header-secondary {
  background: #ddd;
}

.bar-tall {
  height: 10em;
  background-color: #aaa;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.bar-tall ~ .content {
  padding-top: 10em;
}

.bar-tall .icon {
  color: #fff;
}

.bar-tall .caption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  margin-left: -10px;
}

.bar-tall h1 {
  position: relative;
  text-align: left;
  margin-bottom: 0;
  color: #fff;
  font-size: 1.3em;
  font-weight: normal;
}
.bar-tall p {
  margin-bottom: 0;
  color: #fff;
  font-size: 0.5em;
}

.content > .table-view:first-child {
  margin-top: -2px;
}

.hidden {
  opacity: 0;
}

.media-object.big {
  width: 80px;
  height: 80px;
  border-radius: 8px;
}

.media-object.small {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.table-view-cell h1 {
  font-size: 20px;
  font-weight: normal;
  padding: 30px 0 4px 0;
  margin: 0;
}

.table-view-cell p.normal {
  margin-bottom: 5px;
}

input[type=search] {
  border-radius: 8px;
}

.card {
  margin-top:54px;
}

#notification {
  z-index: 100;
  position: absolute;
  bottom: 52px;
  background-color: #333;
}

#notification p {
  color: #fff;
  line-height: 1em;
}

#notification .btn-link {
  color: #ccc;
}

.modal .content > img {
  width: 100%;
}
