.bg-dark {
  /* background: #e71e62; */
  background: #1b0a03 url(../img/bg.jpg) no-repeat top center;
}

.bg-dark h1 {
  font-size: 3em;
  color: #fff;
}

.bg-dark h5 {
  font-size: 1.3em;
  color: #fff;
}

.bg-dark .btn {
  color: #fff;
  border-color: #fff;
}

.centered {
  text-align: center;
}

.text-big {
  font-size: 5em;
  font-weight: normal;
}

.more-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-circle {
  border-radius: 15px;
}

.bar-header-secondary .icon-search {
  position: absolute;
  right: 20px;
  top: 0;
  color: #999;
}

.bar input[type="search"] {
  height: 34px;
  padding: 0 15px;
}

.bar-tall {
  height: 210px;
  background-color: #aaa;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0;
  overflow: hidden;
}

.bar-tall ~ .content {
  padding-top: 210px;
}

.bar-tall > .icon {
  color: #fff;
}

.bar-tall > .icon.pull-left {
  margin-left: 15px;
} 

.bar-tall .btn .icon {
  top: 1px;
  font-size: 1em;
}

.bar-tall > .btn.pull-right {
  margin-right: 15px;
} 

.bar-tall .caption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  margin-left: -10px;
}

.bar-tall h1 {
  color: #fff;
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: 5px;
}

.bar-tall p {
  margin-bottom: 15px;
  color: #fff;
}

.bar-tall .logo-container .btn-link {
  color: #ddd;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border: 1px solid #ddd;
  line-height: 32px;
}

.bar-tall .logo-container .logo-overlay {
  padding: 80px 0 15px;
  background: rgba(0, 0, 0, 0.5);
  height: 210px;
  width: 100%;
}

.bar-tall .logo-container .logo {
  position: absolute;
  top: 10px;
  width: 60px;
  margin-left: -30px;
  height: 60px;
  border-radius: 30px;
  border: 2px solid #fff;
  background: #fff;
  margin-bottom: 10px;
}

.bar-tall .logo-container .btn {
  top: 0;
}

.bar-message {
  height: 18em;
  background-color: #333;
}

.bar-message h1 {
  color: #ddd;
}

.bar-message .btn .icon {
  top: 1px;
  font-size: 1em;
}

.content > .table-view:first-child {
  margin-top: -2px;
}

.table-view.no-nav .table-view-cell {
  padding-right: 15px !important;
}

.hidden {
  opacity: 0;
}

.media-object {
  margin-top: 3px;
  margin-bottom: 7px;
}
.media-object.natural {
  height: auto !important;
}

.media-object.big {
  width: 80px;
  height: 80px;
  border-radius: 8px;
}

.media-object.small {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.media-body p > .icon {
  line-height: 1.1em;
  margin-left: 5px;
}

.media-object.icon {
  color: #ccc;
}

.table-view-cell h1 {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

.table-view-cell .media-body p {
  line-height: 1.2em;
  margin: 5px 0 5px 0;
}

.table-view-cell p.when {
  text-transform: uppercase;
  margin: 3px 0;
}

.table-view-cell p.when .badge {
  border-radius: 2px;
  padding: 3px 4px;
  color: #fff;
  background-color: #ccc;
}

.table-view-cell .media-footer {
  clear: left;
  margin-top: 0.5em;
}

.table-view-cell .media-footer p {
  line-height: 1em;
}

.table-view-cell .media-body p:last-child {
  margin-bottom: 0;
}

input[type=search] {
  border-radius: 8px;
}

.countdown {
  font-weight: normal;
}

.countdown span {
  font-size: 1em;
  color: #ccc;
}

#notification {
  z-index: 100;
  position: absolute;
  top: 44px;
  width: 100%;
  background-color: #333;
  padding: 15px 0;
}

#notification p {
  color: #fff;
  font-size: 1em;
  line-height: 1.3em;
}

#notification .btn-link {
  padding: 5px;
  margin-left: 10px;
}

.modal .content > img {
  width: 100%;
}

.text-positive {
  color: #4CD964;
}

.text-right {
  text-align: right;
}

.badge.small {
  width: px;
  height: 16px;
}

.chart {
  display: inline-block;
  width: 75px;
  height: 75px;
  margin: 0 10px;
  vertical-align: top;
  position: relative;
  padding-top: 12px;
}

.chart > span {
  display: block;
  font-size: 1em;
}

.chart > small {
  display: block;
  font-size: 0.6em;
  font-weight: normal;
}

.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}
