@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-t22ci0');
	src:url('fonts/icomoon.eot?#iefix-t22ci0') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-t22ci0') format('truetype'),
		url('fonts/icomoon.woff?-t22ci0') format('woff'),
		url('fonts/icomoon.svg?-t22ci0#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-car:before {
	content: "\e603";
}
.icon-phone:before {
	content: "\e604";
}
.icon-chat:before {
	content: "\e605";
}
.icon-chronometer:before {
	content: "\e600";
}
.icon-cc-visa:before {
	content: "\e60a";
}
.icon-facebook-square:before {
	content: "\e606";
}
.icon-twitter-square:before {
	content: "\e607";
}
.icon-envelope-square:before {
	content: "\e608";
}
.icon-phone-square:before {
	content: "\e609";
}
.icon-bookmark-o:before {
	content: "\e601";
}
.icon-bookmark:before {
	content: "\e602";
}
.icon-and-caret:before {
	content: "\e800";
}
.icon-up-nav:before {
	content: "\e81f";
}
.icon-and-download:before {
	content: "\e802";
}
.icon-and-left:before {
	content: "\e803";
}
.icon-and-more-vertical:before {
	content: "\e804";
}
.icon-and-more:before {
	content: "\e805";
}
.icon-and-right:before {
	content: "\e806";
}
.icon-and-search:before {
	content: "\e807";
}
.icon-and-share:before {
	content: "\e808";
}
.icon-and-up:before {
	content: "\e809";
}
.icon-back:before {
	content: "\e80a";
}
.icon-down:before {
	content: "\e820";
}
.icon-gear:before {
	content: "\e821";
}
.icon-left:before {
	content: "\e822";
}
.icon-list:before {
	content: "\e823";
}
.icon-pages:before {
	content: "\e824";
}
.icon-refresh:before {
	content: "\e825";
}
.icon-right:before {
	content: "\e826";
}
.icon-sound:before {
	content: "\e827";
}
.icon-sound2:before {
	content: "\e828";
}
.icon-sound3:before {
	content: "\e80b";
}
.icon-sound4:before {
	content: "\e80c";
}
.icon-up:before {
	content: "\e80d";
}
.icon-bars:before {
	content: "\e80e";
}
.icon-caret:before {
	content: "\e80f";
}
.icon-and-down:before {
	content: "\e801";
}
.icon-close:before {
	content: "\e811";
}
.icon-code:before {
	content: "\e812";
}
.icon-compose:before {
	content: "\e813";
}
.icon-down-nav:before {
	content: "\e814";
}
.icon-download:before {
	content: "\e815";
}
.icon-edit:before {
	content: "\e829";
}
.icon-forward:before {
	content: "\e82a";
}
.icon-home:before {
	content: "\e82b";
}
.icon-info:before {
	content: "\e82c";
}
.icon-left-nav:before {
	content: "\e82d";
}
.icon-more-vertical:before {
	content: "\e82e";
}
.icon-more:before {
	content: "\e82f";
}
.icon-pause:before {
	content: "\e830";
}
.icon-person:before {
	content: "\e832";
}
.icon-play:before {
	content: "\e816";
}
.icon-plus:before {
	content: "\e817";
}
.icon-right-nav:before {
	content: "\e818";
}
.icon-search:before {
	content: "\e819";
}
.icon-share:before {
	content: "\e81a";
}
.icon-star-filled:before {
	content: "\e81b";
}
.icon-star:before {
	content: "\e81c";
}
.icon-stop:before {
	content: "\e81d";
}
.icon-trash:before {
	content: "\e81e";
}
.icon-check:before {
	content: "\e810";
}
.icon-home3:before {
	content: "\e902";
}
.icon-location:before {
	content: "\e947";
}
.icon-compass:before {
	content: "\e949";
}
.icon-map2:before {
	content: "\e94c";
}
.icon-checkmark:before {
	content: "\ea10";
}
.icon-checkmark2:before {
	content: "\ea11";
}
